**/node_modules
**/.venv
**/.git
**/.github
**/.vscode
**/.idea
**/.agent
**/.tanstack
**/.wrangler
**/.turbo
**/*.log
**/.DS_Store
**/Thumbs.db
**/coverage
**/dist
**/.output
**/build
/k6
/scratch
/welcome-to-docker
/face-verification-service
/face-verify-onnx-poc
/face-verify-poc
/services
/tests
